* {
    box-sizing: border-box;
  }

  
  .fit-image{
    width: 100%;
    object-fit: cover;
    /* height: 300px; */
    }
    
  :root {
    --light: #F9EDED;
    --light-blue: #337EAA;
    --sapphire: #1D6768;
    --dark-blue: #29364F;
    --dark: #181B26;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  body {
    /* background-color: var(--light); */
    background-color:#4aaaa5;
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/blue-snow.png");
    background-size: cover;
     width:100%;
     height:auto; 
     margin:0;
       }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
  }

  header {
    width: 100%;
    /* background-color: var(--light); */
    background-color:#ffffff;
    border-color: #cccccc;
  }
  
  .header-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color:white;
  }

  .header-wrapper h1 {
    margin: 0;
    /* background-color: var(--sapphire);*/
    background-color:#4aaaa5; 
    padding: 20px 15px;
  }

  .header-wrapper h1 a {
    color: var(--light);
    text-decoration: none;
  }

  .header-wrapper nav {
    margin-left: auto;
    display: flex;
    flex-wrap: auto;
    justify-content: center;
  }

  .header-wrapper nav a {
    /* color: var(--light); */
    color:#777777;
    padding: 0 15px;
    font-size: 20px;
    text-decoration: none;
    /* border-right: 2px solid var(--light-blue); */
  }

  .header-wrapper nav a:last-child {
    border-right: none;
  }
  
  /* Make it responsive */
@media screen and (max-width: 768px) {

    .header-wrapper {
      width: 100%;
      text-align: center;
    }
  
    .header-wrapper h1,
    .header-wrapper nav {
      width: 100%;
    }
  
  }
  
   .wrapclass{
                 
    padding: 20px;
    } 
      

  .wrapclass_section{
    
    background-color:#ffffff;
    border-color:#dddddd;
    width:960px ;
    margin:auto;
    padding: 20px;
    /*display: inline;
     */
  }

  .wrapclass_section h2  {
    color: #4aaaa5;
    font-size: 20px;

  }

  img{
     float:left;
    margin:10px;
    padding: 10px; 
}

p{
  color:#777777;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer, header {  
  /* flex-shrink: 0; */
  background-color:#666666;
  color:white;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  position: sticky;
  border-top: 8px solid #4aaaa5;
}

hr {
  border: .5px solid #666666;
  }

  h6 {
    font-size: 10px; 
    text-align: center;
     }

   .input_class{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    
    } 

     .push {
      height: 300px;
    }
/* 
    .input_username_class
    {
      width: 900px;
      height: 20px
    } */

    .form_div{
      background-color:#ffffff;
    border-color:#dddddd;
    width:960px ;
    margin:auto;
    padding: 20px;
    
    }

    .form_div h2  {
      color: #4aaaa5;
      font-size: 20px;
  
    }
  
    .button {
      background-color: #4aaaa5; /* teal */
      border: none;
      color: white;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
    }

    textarea {
      width: 910px;
      height: 150px;
    }

    main {
      width: 960px;
      /* center on page using auto for left/right */
      margin: 20px auto;
      /* add padding so html inside has space */
      padding: 20px;
      background-color: #ffffff;
      border: 1px solid #dddddd;
    }
    
    /* target <h2> element inside of <main> */
    main h2 {
      color: #4aaaa5;
      /* set padding to 0 top, 10 right and left, and 20 bottom */
      padding: 0 10px 20px;
      border-bottom: 1px solid #dddddd;
      font-family: 'Georgia', Times, 'Times New Roman', serif;
    }
    

    /* flex parent */
.flex-container {
  /* create flexbox */
  display: flex;
  /* instruct it to break onto next line if it runs out of space */
  flex-wrap: wrap;
  /* put all unused space between items */
  
  width: 100%;
}

/* flex child */
.flex-item {
  /* make each one 45%, putting 10% between each element on the page */
  width: 34%;
  /* rounded corners */
  border-radius: 14px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  font-size: 22px;
  font-weight: bold;
   justify-content: space-between; 
  /* justify-content: space-around;
     */
  /* put space between each one vertically */
  margin-bottom: 15px;
  margin-right: 15px;

  /* for files in local images folder, use url('../images/file-name.jpg') */
  /* background-image: url('https://www.placecage.com/g/500/500'); */
  /* background-image: url("../images/cellsite-development.jpg"); */

  /* tell background to fit box no matter what */
  background-size: cover;

  /* crop it at the center */
  background-position: center;

  /* padding top and bottom 20px, 0 for left/right */
  padding: 20px 0;

  /* set minimum heigh value so there's room */
  min-height: 200px;

  /* rather than use position...use flexbox and create column instead of row */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: start;
}

/* .site-dev{
  background-image: url("../images/cellsite-development.jpg");
}

.itsm{
  background-image: url("../images/ITSM.png");
}

.noc{
  background-image: url("../images/NOC.jpg");
}

.cust-care{
  background-image: url("../images/customer-care.png");
}

.cicd{
  background-image: url("../images/CICD.jpg");
} */

/* for text area inside of flex item */
.flex-item span {
  /* pushes element to bottom of flex item */
  margin-top: auto;
  width: 100%;
  background-color: #4aaaa5;
  color: white;
  padding: 10px 5px;
  text-align: center;
}

.card-img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  
  }

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .topdiv{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .foot{
    margin-top: auto;
  }

  .noBottomMargin {
    margin-bottom: 0px;
  }